<footer class="tm-black-bg">
    <div class="container">
        <div class="row">
            <p class="tm-copyright-text">Copyright &copy; 2084 Your Company Name</p>
        </div>
    </div>		
</footer>