<footer class="tm-black-bg">
    <div class="container">
        <div class="row">
            <p class="tm-copyright-text">Copyright &copy; 2023 group-3 WEBSKITTERS</p>
        </div>
    </div>		
</footer>