<section class="tm-banner">
    <!-- Flexslider -->
    <div class="flexslider flexslider-banner">
      <ul class="slides">
        <li>
            <div class="tm-banner-inner">
                <h1 class="tm-banner-title">Find <span style="color: #21bb61;" class="tm-text">The Best</span> Place</h1>
                <p class="tm-banner-subtitle">For Your Holidays</p>
            </div>
            <img src="https://source.unsplash.com/M1dvH-BNovo/1440x480" alt="Image" />	
        </li>
        <li>
            <div class="tm-banner-inner">
                <h1 class="tm-banner-title">Take a <span style="color:#21bb61 ;" class="tm-yellow-text">Leave</span> &</h1>
                <p class="tm-banner-subtitle">Explore the Wonderful World</p>
                
            </div>
          <img src="https://source.unsplash.com/KgDti4yHluo/1440x480" alt="Image" />
        </li>
        <li>
            <div class="tm-banner-inner">
                <h1 class="tm-banner-title">Are <span style="color: #21bb61;" class="tm-yellow-text">You</span> Ready</h1>
                <p class="tm-banner-subtitle">For a little Vacation</p>
            </div>
          <img src="https://source.unsplash.com/L5toD-TrGj8/1440x480" alt="Image" />
        </li>
      </ul>
    </div>	
</section>