<section class="container tm-home-section-1" id="more">
    <div class="row">
                <!-- Tab panes -->
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-center">
                        <img src="img/index-01.jpg" alt="image" class="img-responsive">
                        <a href="/redirect2">
                            <div class="tm-green-gradient-bg tm-city-price-container">
                                <span>New York</span>
                                <span>$6,600</span>
                            </div>	
                        </a>			
                    </div>				
                </div>

        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-center">
                <img src="img/index-01.jpg" alt="image" class="img-responsive">
                <a href="/redirect2">
                    <div class="tm-green-gradient-bg tm-city-price-container">
                        <span>New York</span>
                        <span>$6,600</span>
                    </div>	
                </a>			
            </div>				
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="tm-home-box-1 tm-home-box-1-2 tm-home-box-1-right">
                <img src="img/index-02.jpg" alt="image" class="img-responsive">
                <a href="/redirect2">
                    <div class="tm-red-gradient-bg tm-city-price-container">
                        <span>Paris</span>
                        <span>$4,200</span>
                    </div>	
                </a>					
            </div>				
        </div>
    </div>
</section>		
